# This workflow will install edgetest and  edgetest-conda and run it on the run-edgetest-action
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test edgetest action

on:
  push:
    branches: [dev, main]
  pull_request:
    branches: [dev, main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9, "3.10", "3.11", "3.12"]
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: ${{ matrix.python-version }}
        channels: conda-forge
    - name: Install edgetest edgetest-conda and edgetest-pip-tools
      run: conda install edgetest edgetest-conda edgetest-pip-tools
    - name: Run edgetest action
      uses: ./
      with:
        edgetest-flags: '--config=setup.cfg --export'
        base-branch: 'dev'
        skip-pr: 'true'
        python-version: ${{ matrix.python-version }}
        add-paths: 'setup.cfg, requirements.txt'